body{
 background-color: aqua;
    
}

#header{
    text-align: center;
    font-family: Courier New;
    color: red;
}
#header1{
    text-align: center;
    font-family: Monotype Corsiva;
    color: red;
}
#center{
    font-size: 15px;
    text-transform: full-width;
    text-align-last: center;
    margin-top: 0px;
    float: right;
    padding: 49px 48px 51px 76px;
    background-color: aquamarine;

        
}
#center2{
    text-align: center;
}
p{
    margin-bottom: 20px;
}
#center1{
    float: right;
}